.box {
    width: 1000px;
    box-shadow: 1px 1px 4px black;

}


h1, ul {
    color: white;
    font-family: 'Quicksand', 'Raleway', sans-serif, Arial;
    text-shadow: 1px 1px 3px black;
}

* {
    background-color: white;
    box-sizing: border-box;
}